<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Control de Horario</title>

    <style>
        #canvas {
            display:none;
        }
        #photo {
            display:none;
        }
    </style>

  </head>
  <body>
        <div id="app" class="container">
            <div class="row p-5">
                <div class="col-12 col-lg-4">
                    <login 
                        v-bind:url="getAuthUrl()"
                        v-on:login="onLogin"
                        v-on:logout="onLogout"/>
                </div>
                <div class="col">
                    <div class="row">
                        <person-data 
                            v-bind:person="person"
                        />
                    </div>
                    <div class="w-100"></div>
                    <div class="row">
                        <records-table
                            v-bind:records="records"
                        />
                    </div>
                </div>
            </div>
        </div>

        <template id="alert">
            <div class="alert alert-danger" 
                role="alert">
                    This is a danger alert—check it out!
            </div>
        </template>

        <template id="login">
            <div class="card">
                             
                <video id="video" ref="video" width="320" height autoplay class="card-img-top"></video>
                <canvas ref="canvas" id="canvas" width="320" height></canvas>
                
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <button type="button" class="btn btn-lg btn-block"
                             v-bind:class="[loggedIn ? 'btn-dark' : 'btn-info']"
                             v-on:click="capture()">
                            <span v-if="loggedIn">Log out</span>
                            <span v-else>Login</span>
                        </button>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn-outline-primary" 
                                    v-bind:class="{'disabled': !loggedIn, 'active': !isCustomDate}">
                                    Now
                                </button>
                            </div>
                            <div class="col">
                                <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" 
                                    data-target="#collapse-custom-date" aria-expanded="false" aria-controls="collapse-custom-date"
                                    v-bind:class="{'disabled': !loggedIn, 'active': isCustomDate}">
                                    Custom Date
                                </button>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="row">
                            <div class="collapse p-2 mx-auto" id="collapse-custom-date">
                                <input type="datetime-local" class="form-control">
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item"><button type="button" class="btn btn-success btn-lg btn-block"
                        v-bind:class="{'disabled': !loggedIn}">Start</button></li>
                    <li class="list-group-item"><button type="button" class="btn btn-danger btn-lg btn-block"
                        v-bind:class="{'disabled': !loggedIn}">End</button></li>
                </ul>
            </div>
        </template>

        <template id="person-data">
            <h6 v-if=person class="p-3">{{person.name}}</h6>
        </template>

        <template id="records-table">
            <div v-if=records>
                <div class="col p-3">
                    <nav class="nav nav-pills">
                        <a class="nav-link active" href="#">Today</a>
                        <a class="nav-link" href="#">Yesterday</a>
                        <a class="nav-link" href="#">This week</a>
                        <a class="nav-link" href="#">This month</a>
                        <a class="nav-link" href="#">Prev month</a>
                    </nav>
                </div>
                <div class="w-100"></div>
                <div class="col">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr is="records-table-item"
                                v-for="row in Rows" 
                                v-bind:record="row"
                                v-bind:key="row.id"></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </template>

        <template id="records-table-item">
            <tr>
                <td>{{record.dateStr}}</td>
                <td>
                    <span v-if="record.isStart" class="badge badge-success">Start</span>
                    <span v-else class="badge badge-danger">End</span>
                </td>
            </tr>
        </template>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script> 
        <script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script> 
        <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script> 

        <script src="js/vue-app.js"></script>
    </body>
</html>