<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Control de Horario</title>

    <style>
        #canvas {
            display:none;
        }
        #photo {
            display:none;
        }
        .icon {
            width: 16px;
            height: 16px;
        }
    </style>

  </head>
  <body>
        <div id="app" class="container">
            <div class="row p-5">
                <div class="col-12 col-lg-4">
                    <login 
                        v-bind:url="getAuthUrl()"
                        v-on:login="onLogin"
                        v-on:logout="onLogout"
                        v-on:addrecord="onAddRecord"/>
                </div>
                <div class="col" v-if="person">
                    <div class="row">
                        <person-data 
                            v-bind:person="person"
                        />
                    </div>
                    <div class="w-100"></div>
                    <div class="row">
                        <records-table
                            v-bind:records="records" 
                            v-bind:period="periodType" 
                            v-on:loadrecords="onGetRecords" 
                            v-on:removerecord="onRemoveRecord"
                        />
                    </div>
                </div>
            </div>
        </div>

        <template id="alert">
            <div class="alert alert-danger" 
                role="alert">
                    This is a danger alert—check it out!
            </div>
        </template>

        <template id="login">
            <div class="card">
                             
                <video id="video" ref="video" width="320" height autoplay class="card-img-top"></video>
                <canvas ref="canvas" id="canvas" width="320" height></canvas>
                
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <button type="button" class="btn btn-lg btn-block"
                             v-bind:class="[loggedIn ? 'btn-dark' : 'btn-info']"
                             v-on:click="capture()">
                            <span v-if="loggedIn">Log out</span>
                            <span v-else>Login</span>
                        </button>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn-outline-primary" 
                                    v-bind:class="{'disabled': !loggedIn, 'active': !isCustomDate}"
                                    v-on:click="isCustomDate=false">
                                    Now
                                </button>
                            </div>
                            <div class="col">
                                <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" 
                                    aria-expanded="false" aria-controls="collapse-custom-date"
                                    v-bind:class="{'disabled': !loggedIn, 'active': isCustomDate}"
                                    v-on:click="isCustomDate=true">
                                    Custom Date
                                </button>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="row">
                            <div class="p-2 mx-auto"
                                v-bind:class="{'collapse': !isCustomDate}">
                                <input type="datetime-local" class="form-control" v-model="recordTime">
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <button type="button" class="btn btn-success btn-lg btn-block"
                            v-bind:class="{'disabled': !loggedIn}"
                            v-on:click="addRecordClick(true)">
                            Start
                        </button>
                    </li>
                    <li class="list-group-item">
                        <button type="button" class="btn btn-danger btn-lg btn-block"
                            v-bind:class="{'disabled': !loggedIn}"
                            v-on:click="addRecordClick(false)">
                            End
                        </button>
                    </li>
                </ul>
            </div>
        </template>

        <template id="person-data">
            <h6 v-if=person class="p-3">{{person.name}}</h6>
        </template>

        <template id="records-table">
            <div class="col">
                <div class="col p-3">
                    <nav class="nav nav-pills">
                        <a class="nav-link" href="#"
                            v-bind:class="{'active': period === 'today'}"
                            v-on:click="getRecords('today')">Today</a>
                        <a class="nav-link" href="#" 
                            v-bind:class="{'active': period === 'yesterday'}"
                            v-on:click="getRecords('yesterday')">Yesterday</a>
                    </nav>
                </div>
                <div class="w-100"></div>
                <div class="col" v-if=records>
                    <table class="table">
                        <tbody>
                            <tr is="records-table-item"
                                v-for="row in Rows" 
                                v-bind:record="row"
                                v-bind:key="row.id"
                                v-on:delete="onDelete"></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </template>

        <template id="records-table-item">
            <tr v-bind:class="{'table-warning': !record.isOk}">
                <td>{{record.dateStr}}</td>
                <td>
                    <span v-if="record.isStart" class="badge badge-success">Start</span>
                    <span v-else class="badge badge-danger">End</span>
                </td>
                <td>
                    <button v-if="record.canDelete" class="btn btn-default" v-on:click="$emit('delete', record)">
                        <img src="img/icon/trash.svg" alt="delete" class="icon">
                    </button>
                </td>
            </tr>
        </template>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script> 
        <script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script> 
        <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script> 

        <script src="js/index.js"></script>
    </body>
</html>